/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
a.header-title{
    font:bold 38px arial, verdana;
    color:#D18323;
}

/*navigation*/

nav.primary ul, 
nav.primary ul li{
    margin: 0px;
}

nav.primary ul li{
    display: inline;
    float: left;
    position: relative;
}

nav.primary ul li a{
    display: inline-block;
    line-height:49px;
    color: white;
    background-color:rgba(0,0,0, 0.6);
    text-transform: uppercase;
    text-decoration:none;
    font-weight:bold;
    letter-spacing:0.08em;
    padding: 0 14px;
}

nav.primary ul li a:hover{
    background: #424242;
    cursor: pointer;
}
/* #Page Styles
================================================== */

.coffee-container{
    background-color: rgba(0,0,0,0.6); 
    text-align: center; 
    vertical-align: middle; 
    color: #FFFFCC; 
    font: bold 20px arial; 
    padding-bottom:5px;
}

.coffee-container p, h1, h2, h3, h4, h5, h6{
    color:#FFFFCC; 
}

.coffee-table{
    margin: 0 auto;
}

.coffee-table tr, td, label{
    font:bold 20px arial;
    color:#FFFFCC;
    padding:10px;
    text-align:left;
    vertical-align: top;
}

.image{
    width:250px;
    height:250px;
}

#imgFromDB:hover{
    cursor:pointer;
}

.coffee-description{
    font-size:14px;
}

.coffee-links a{
    font-size:20px;
    color: orange;
}

.side-content{
    text-align:left;
    color:orange;
}

.fadein { height:600px; }
.fadein img { padding-top:20px; width:600px; height:550px; max-height:95%; max-width:95%; }

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/