@{
    ViewBag.Title = "About Page";
}
    <p style="padding-top:10px;">
        <h3>Who made this Site?</h3>
        <h5>Brian Rivera, AAS in Computer Science</h5><br />
        <h3>How was this site made?</h3>
        <h5>Using MVC5 and Visual Studio 2013. Other technologies, such as Razor, CSS, and Azure were also implemented.</h5><br />
        <h3>How long did it take?</h3>
        <h5>This site is the result of a quarter-long project for the Rich Internet Applications class in the Computer Science program at RTC.</h5><br />
        <h3>Were other people involved in the creation process?</h3>
        <h5>Apart from information provided by the instructor, everything was made by Brian Rivera.</h5><br />
    </p>
